

@media screen and (min-width:768px)  {
    .logo-top img{
        width: 100px;
        height: auto;
        /* width: 120px; */
      
    }
    .footer-part {
        position:relative;

       
        /* background:#6cf; */
      }
    .sec-1{
        height: 170px;
    }
    
    .header-title{
        
        margin:auto;
        
        }
    .header-title .header-title-item h1{
       font-size: 22px;
       
       
       
       
    }
    .header-title .header-title-item h2{
        font-size: 16px;
       padding: 1px;
    }
.header-container{
    height: 40px;
}
        .header-items{
            /* color: black; */
           
            /* border:2px solid #fff; */
            /* text-decoration: none; */
          
            font-size: 14px;
            margin:0px 30px 0px 10px;
        }
        .container-intro h1{
            font-size: 20px;
            /* margin:10px; */
            margin: 25px;
            padding: 5px;
        }   
    #showmore{
        display: block;
    }
    #changetext{
        display: none;
    }
    .container-intro .flex-row-container{
        flex-direction: row;
        justify-content: space-evenly;
        width: 95%;
        border:1px solid blue;
        border: none;
        margin: auto;
        align-items: flex-start;
    }
    .flex-row-container .flex-row-items img{
     width: 190px;
     margin-right: 450px;
    }
    .flex-row-container .flex-row-items p{
     margin:0px 0px 0px 10px;
        font-size: 14px;
        width: 80%;
    }
    .carousel{
        /* border: 1px solid green; */
        width:55%;
        height: auto;
        /* height: 400px; */
        
    }
    .carousel-item{
        /* border: 1px inset #2980b9; */
        border-radius: 4px;
       height: 550px;
    }
 
   
    .carousel-item ul li{
        /* border:1px solid brown; */
        width: 80%;
        
        margin:20px auto 5px auto;
            
        font-size: 14px;
    }
    .news-event-head h1{
        margin-top:45px;
        font-size: 20px;
    }
    .last-element-page{
        font-size: 14px;
        margin: 30px;
        
    }
    /* footer responsiveness     */
   
    .flex-footer-items p{
        font-size: 20px;
        margin: 15px;
    }
    .flex-footer-items h6 {
        
        font-size: 16px;
        
        margin: 10px;
    
    }
    .funders-container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: no-wrap;
    }
    .funders-container img{
        width:100px;
        height: auto;
        margin: 0px 20px 0px 20px;
    }
    
    /* CSS FOR Research Html Page  Begins*/

.research-items h1 {
    font-size: 22px;
   
  }
  .research-items p {
    font-size: 16px;
    
  }
  
  
  .width_25,
  .research-carousel,
  .research-carousel-item {
  
    width: 300px;
    height: 200px ;
  }
  .width_25 .research-carousel .research-carousel-item img {
    height: 190px;
    width: 300px;
    
  }
  
  .container-information h5 {
    font-size: 20px;
    
  }
  .container-information .info-description p {
    font-size: 16px;
  }
  .last-talk{
    border:1px solid blueviolet;
    width:85vw;
    display: flex;
    align-items: center;
   justify-content: center; 
    flex-wrap: nowrap;
    margin: auto;
  }
  
  .last-talk .last-talk-item p{
  font-size: 20px;  
  /* margin-left: 40px; */
  }
  /* .last-talk .last-talk-item a{   
  } */
  
  .last-talk-item:nth-last-child(1){
    
    border-radius: 6px;
    font-size: 16px;
   
  }
  .last-talk-item:nth-last-child(1):hover{
    background-color: #bb0c20bb;
  }

}


@media screen and (min-width:1024px)  {

    .logo-top img{
        width: auto;
        height: auto;
        margin-left: 10px;
        /* width: 120px; */
        left: 250px;
    }
    .sec-1{
        height: 170px;
    }
    
    .header-title{
        
        margin:auto;
        
        }
    .header-title .header-title-item h1{
       font-size: 32px;
       padding: 2px;
       
       
       
    }
    .header-title .header-title-item h2{
        font-size: 20px;
       padding: 1px;
        }
        .header-container{
            height: 50px;
        }
        .header-items{
            /* color: black; */
           
            /* border:2px solid #fff; */
            /* text-decoration: none; */
          
            font-size: 18px;
            margin-right:50px;
        }
        .container-intro h1{
            font-size: 26px;
            /* margin:10px; */
            margin: 25px;
            padding: 5px;
        }   
    .container-intro .flex-row-container{
        flex-direction: row;
        justify-content: space-evenly;
        width: 95%;
        border: none;
        margin: auto;
        align-items: flex-start;
    }
    .flex-row-container .flex-row-items img{
     width: 250px;
     margin-right: 480px;
    }
    .flex-row-container .flex-row-items p{
     margin:15px;
        font-size: 16px;
        width: 80%;
    }
    .carousel{
        /* border: 1px solid green; */
        width:55%;
        height: auto;
        /* height: 400px; */
        
    }
    .carousel-item{
        /* border: 1px inset #2980b9; */
        border-radius: 4px;
       height: 550px;
    }
 
   
    .carousel-item ul li{
        /* border:1px solid brown; */
        width: 80%;
        
        margin:20px auto 5px auto;
            
        font-size: 16px;
    }
    .news-event-head h1{
        margin-top:45px;
        font-size: 26px;
    }
    .last-element-page{
        font-size: 16px;
        margin: 30px;
        
    }
    /* footer responsiveness     */
   
    .flex-footer-items p{
        font-size: 20px;
        margin: 15px;
    }
    .flex-footer-items h6 {
        
        font-size: 16px;
        
        margin: 10px;
    
    }
    .funders-container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: no-wrap;
    }
    .funders-container img{
        width:auto;
        height: auto;
        margin: 0px 20px 0px 20px;
    }
    
/* CSS FOR Research Html Page  Begins*/
}